
@{
    ViewBag.Title = "CheckOut_Success";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="w-75 d-block mx-auto my-5 border border-opacity-100 p-3">
    <h2 class="text-success text-center">Order Success</h2>
    <h5 class=" text-center">Thank you for purchasing products to support the shop, your order will be delivered soon</h5>
    <a class="mx-auto d-block text-center" href="@Url.Action("Home","Products")">==> Buy more products <==</a>
</div>
